@page
@model OwlOProjectA.Pages.ChoosePathModel
@{
}
<br />
<div class="row">
    <div class="col-lg-5 mx-auto text-center">
        <h1 class="title heading-1 style-3 mb-40">What would you like to do today with <span class="text-brand">OWLO</span>?</h1>
        <p class="font-xl mb-80">Choose between Library, Plan and Workshop!</p>
    </div>
    <div class="col-xl-10 col-lg-12 m-auto">
        <section class="text-center mb-50">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-24">
                    <div class="featured-card border border-success">
                        <img src="/nest_assets/imgs/theme/OWLO_Library.png" alt="">
                        <h4>Get Incentives and find events</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-24">
                    <div class="featured-card border border-primary">
                        <img src="/WorkshopImages/Asset 48.png" alt="">
                        <h4>Create workshops</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-24">
                    <a asp-page="/OwloPlan/MyProjects">
                        <div class="featured-card border border-dark">
                            <img src="/jobick_assets/images/OWLO/Asset 50.png" alt="">
                            <h4>Find and Manage volunteering projects</h4>
                            <p>Explore projects from a variety of causes or simply create one and invite new teammates. Utilize the platform to manage your project by managing tasks, meeting and resources from a single page</p>
                        </div>
                    </a>

                </div>

            </div>
        </section>
    </div>
</div>