@page
@model OwlOProjectA.Pages.CommentsModel
@{
}

<a href="CommunityPost">Back</a>
<div class="comments-area">
    <h3 class="mb-30">Comments</h3>
    <div class="comment-list   m-auto" ">
        @foreach (var item in Model.allComments)
        {
    <div class=" single-comment justify-content-between d-flex mb-30">
        <div class="user justify-content-between d-flex">
            <div class="thumb text-center">
                <img src="assets/imgs/blog/author-2.png" alt="">
                <a href="#" class="font-heading text-brand">@item.Name</a>
            </div>
            <div class="desc">
                <div class="d-flex justify-content-between mb-10">
                    <div class="d-flex align-items-center">
                        <span class="font-xs text-muted">December 4, 2021 at 3:12 pm </span>
                    </div>
                   
                </div>
                <p class="mb-10"> @item.User_Comment</p>
            </div>
        </div>
    </div>
        }

      
    </div>
</div>

