@page "{id}"
@model owlo_plan.Pages.AddTaskModel
@{
    ViewData["Title"] = $"OWLO Plan - Add Task";
    ViewData["Page"] = "Add Task";
}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Add Task</h4>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form method="post">
                <input asp-for="projectTask.Project_ID" value="@Model.projectTask.Project_ID" type="hidden" />
                <input asp-for="projectTask.timestamp" value="@Model.projectTask.timestamp" type="hidden" />
                <input asp-for="projectTask.owner" value="@Model.projectTask.owner" type="hidden" />

                <div class="mb-3 row">
                    <div class="col-sm-9">
                        <h2 class="text-danger col-sm-3 col-form-label">@Model.ErrorMessage</h2>
                        <div asp-validation-summary="All"></div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Task Title</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="projectTask.task" class="form-control" placeholder="Type a task title">
                        <span asp-validation-for="projectTask.task" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex align-items-end flex-column">
                    <button type="submit" onkeydown="return event.key != 'Enter'" ; class="btn btn-primary">Add Task</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
