@page
@using owlo_plan.Models;
@model owlo_plan.Pages.CreateProjectModel
@{
    ViewData["Title"] = $"OWLO Plan - Create Project";
    ViewData["Page"] = "Create Project";
}
@section header{
}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Create a project</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form method="post">
                    <div class="mb-3 row">
                        <div class="col-sm-9">
                            <h2 class="text-danger col-sm-3 col-form-label">@Model.ErrorMessage</h2>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Project Title</label>
                        <div class="col-sm-9">
                            <input onkeydown="return event.key != 'Enter';" asp-for="Project.Title" type="text" class="form-control" placeholder="Give your project an interesting name!">
                            <span asp-validation-for="Project.Title" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Project Description</label>
                        <div class="col-sm-9">
                            <textarea asp-for="Project.Description" type="text" class="form-control" placeholder="Describe what your the purpose and mission of your project. Max 250 characters"></textarea>
                            <span asp-validation-for="Project.Description" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Add Project Members</label>
                        <div class="col-sm-9">
                            <div class="tag-container">
                                <input id="memberTextArea" onkeydown="return event.key != 'Enter';" asp-for="Project.Members" type="text" placeholder="Add a member's email and press enter" />
                                <span asp-validation-for="Project.Members" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3 row">
                        <label class="col-sm-3 col-form-label">Add Project Image</label>
                        <div class="col-sm-9">
                            <div class="form-file">
                                <input onkeydown="return event.key != 'Enter';" asp-for="Project.Image" type="file" class="form-file-input form-control">
                                <span asp-validation-for="Project.Image" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-end flex-column">
                        <button type="submit" onkeydown="return event.key != 'Enter'" ; class="btn btn-primary">Create Project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="/jobick_assets/js/tag.js"></script>
        <link href="/jobick_assets//css/tag.css" rel="stylesheet">
    }
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @* https://www.youtube.com/watch?v=ha4xwcJXwow *@

}

