@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>More To Come...</h1>
</div>
@section Scripts{
<!-- Apex Chart -->
<script src="~/jobick_assets/vendor/apexchart/apexchart.js"></script>

<!-- Chart piety plugin files -->
<script src="~/jobick_assets/vendor/peity/jquery.peity.min.js"></script>

<!-- Dashboard 1 -->
<script src="~/jobick_assets/js/dashboard/dashboard-1.js"></script>
}
