@page "{id}"
@model owlo_plan.Pages.JoinProjectModel

@{
    ViewData["Title"] = $"OWLO Plan - Join Project";
    ViewData["Page"] = "Join Project";
}



<div class="card">
    <div class="card-header">
        <h4 class="card-title">@Model.title</h4>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form method="post">
                <input asp-for="project_ID" value="@Model.project_ID" type="hidden" />
                <input asp-for="userEmail" value ="@Model.userEmail"type="hidden" />

                @*<div class="mb-3 row">
            <div class="col-sm-9">
                <h2 class="text-danger col-sm-3 col-form-label">@Model.ErrorMessage</h2>
                <div asp-validation-summary="All"></div>
            </div>
        </div>*@
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Introduce yourself to the team</label>
                    <div class="col-sm-9">
                        <textarea type="text" asp-for="joinRequest.Introduction" class="form-control" placeholder="Type a short introduction about yourself"></textarea>
                        <span asp-validation-for="joinRequest.Introduction" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Tell us why you want to join this project</label>
                    <div class="col-sm-9">
                        <textarea type="text" asp-for="joinRequest.Reason" class="form-control" placeholder="Write your reasons or interest that can contribute to this project"></textarea>
                        <span asp-validation-for="joinRequest.Introduction" class="text-danger"></span>
                    </div>
                </div>                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Do you have any feedback that can help improve the project?</label>
                    <div class="col-sm-9">
                        <textarea type="text" asp-for="joinRequest.Introduction" class="form-control" placeholder="Write your comments about the project"></textarea>
                        <span asp-validation-for="joinRequest.Introduction" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex align-items-end flex-column">
                    <button type="submit" onkeydown="return event.key != 'Enter'" ; class="btn btn-primary">Submit Application</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}